@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

@font-face {
    font-family: "AbrilFatface";   /*Can be any text*/
    src: local("AbrilFatface"),
      /* url("./font/AbrilFatface-Regular.ttf") format("truetype"); */
      url("./fonts/Abril_Fatface/AbrilFatface-Regular.ttf") format("truetype");
  }


html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

body {
    margin: 0;
    height: 100%;
}

/* header */
header {
    height: 80px;
    background-color: black;
}

header h1 {
    font-family: "AbrilFatface", serif;
    font-size: xx-large;
    color: white;
}
header h1 a {
    text-decoration: none;
    color: white;
}
header h1 a:hover {
    text-decoration:none;
    color: white;
    text-shadow: 1px 1px 3px white;
}

ul {
    color: white;
}


/* home */
#home {
    height: 30rem;
    background-image: url("../src/assets/home1.jpg");
    background-size: cover;
}
#home h2 {
    font-family: "AbrilFatface", serif;
}

#img-left {
    height: 30rem;
    background-image: url("../src/assets/home2.jpg");
    background-size: cover;
}
#img-right {
    height: 30rem;
    background-image: url("../src/assets/home3.jpg");
    background-size: cover;
}

img {
    height: 18rem;
    width: 25rem;
}

/* img:hover {
    transform: scale(0.90);
} */

.test {
    background-color:white;
    transform: rotate(30deg);
    width: 600px;
    height: 5px;
    margin-left: 10rem;
    margin-top: 1rem;
    z-index: -1;
}

.test1 {
    background-color:white;
    transform: rotate(-28deg);
    width: 600px;
    height: 5px;
    margin-left: -20rem;
    z-index: -1;
}

.test2 {
    background-color:white;
    transform: rotate(155deg);
    width: 600px;
    height: 5px;
    margin-top: -20rem;
    margin-left: 15rem;
    z-index: -1;
}

.test3 {
    background-color:white;
    transform: rotate(30deg);
    width: 600px;
    height: 5px;
    margin-top: -20rem;
    margin-left: -25rem;
    z-index: -1;
}

/* Circle */

.circle {
    clip-path: circle(30%);
}

.c1 {
    animation: mouving1 15s infinite linear;
}

.c2 {
    animation: mouving2 12s infinite linear;
}

.c3 {
    animation: mouving3 18s infinite linear;
}

.c4 {
    animation: mouving4 14s infinite linear;
}

@keyframes mouving1 {
	from {
		transform: rotate(0deg)
		           translate(-10px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-10px) 
		           rotate(-360deg);
	}
}

@keyframes mouving2 {
	from {
		transform: rotate(0deg)
		           translate(-16px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-16px) 
		           rotate(360deg);
	}
}

@keyframes mouving3 {
	from {
		transform: rotate(0deg)
		           translate(-12px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-12px) 
		           rotate(-360deg);
	}
}

@keyframes mouving4 {
	from {
		transform: rotate(0deg)
		           translate(-13px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-13px) 
		           rotate(360deg);
	}
}

/* hover image */ 

.hovicon {
    display: inline-block;
    line-height: 90px;
    cursor: pointer;
    position: relative;
    z-index: 1;
    color: #fff;
}

.hovicon:after {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    content:'';
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.hovicon:before {
    font-size: 48px;
    line-height: 90px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    display: block;
    -webkit-font-smoothing: antialiased;
}

/* Effect 8 */
 .hovicon.effect-8 {
    background: red;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;
}
.hovicon.effect-8:after {
    top: 0;
    left: 0;
    padding: 0;
    z-index: -1;
    box-shadow: 0 0 0 2px pink;
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}
.hovicon.effect-8:hover {
    background: blue;
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color: #fff;
}
.hovicon.effect-8:hover i {
    color: #fff;
}
.hovicon.effect-8:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
@-webkit-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -webkit-transform: scale(1.5);
        opacity: 0;
    }
}
@-moz-keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        -moz-transform: scale(1.5);
        opacity: 0;
    }
}
@keyframes sonarEffect {
    0% {
        opacity: 0.3;
    }
    40% {
        opacity: 0.5;
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
    }
    100% {
        box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #3851bc, 0 0 0 10px rgba(255, 255, 255, 0.5);
        transform: scale(1.5);
        opacity: 0;
    }
}

