@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */

@font-face {
    font-family: "AbrilFatface";   /*Can be any text*/
    src: local("AbrilFatface"),
      /* url("./font/AbrilFatface-Regular.ttf") format("truetype"); */
      url("./fonts/Abril_Fatface/AbrilFatface-Regular.ttf") format("truetype");
  }


html {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

body {
    margin: 0;
    height: 100%;
}

/* header */
header {
    height: 80px;
    background-color: black;
}

header h1 {
    font-family: "AbrilFatface", serif;
    font-size: xx-large;
    color: white;
}
header h1 button{
    transform: scale(1);
    transition: transform 0.5s;
}
header h1 button:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
}
header h1 a {
    text-decoration: none;
    color: white;
}
header h1 a:hover {
    text-decoration:none;
    color: white;
    text-shadow: 1px 1px 3px white;
}

ul {
    color: white;
}


/* home */

.find-my-dog-btn {
    transform: scale(1);
    transition: transform 0.2s, background-color 0.5s;
}

.find-my-dog-box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 0.13em dashed white;
    border-radius: 5px;
    animation: clippath 10s infinite linear;
}

@keyframes clippath {
    0%,
    100% {
        clip-path: inset(0 0 95% 0);
    }
    
    25% {
        clip-path: inset(0 95% 0 0);
    }
    50% {
        clip-path: inset(95% 0 0 0);
    }
    75% {
        clip-path: inset(0 0 0 95%);
    }
}

.find-my-dog-btn:hover {
    color: white;
    background-color: black;
    border: solid white 4px;
    transform: scale(0.95);
    transition: transform 0.2s, background-color 0.3s;
}

img {
    height: 18rem;
    width: 25rem;
    z-index: 1;
}

.dog1, .dog3,.dog6, .dog8 {
    background: 
        linear-gradient(90deg, white 50%, transparent 0) repeat-x,
        linear-gradient(90deg, white 50%, transparent 0) repeat-x,
        linear-gradient(0deg, white 50%, transparent 0) repeat-y,
        linear-gradient(0deg, white 50%, transparent 0) repeat-y;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: linearGradientMove .8s infinite linear;

}

.dog1:hover, .dog3:hover,.dog6:hover, .dog8:hover {
    animation: linearGradientMove .2s infinite linear;
} 

@keyframes linearGradientMove {
    100% {
        background-position: 8px 0, -8px 100%, 0 -8px, 100% 8px;
    }
}  

.dog1 {
    background-size: 0px 0px, 8px 2px, 0px 0px, 0px 0px;
}

.dog3 {
    background-size: 0px 0px, 0px 0px, 2px 8px, 0px 0px;
}

.dog6 {
    background-size: 0px 0px, 0px 0px, 0px 0px, 2px 8px;
}

.dog8 {
    background-size: 8px 2px, 0px 0px, 0px 0px, 0px 0px;
}

/* Circle */

.circle {
    clip-path: circle(30%);
}

.c1 {
    animation: mouving1 15s infinite linear;
}

.c2 {
    animation: mouving2 12s infinite linear;
}

.c3 {
    animation: mouving3 18s infinite linear;
}

.c4 {
    animation: mouving4 14s infinite linear;
}

@keyframes mouving1 {
	from {
		transform: rotate(0deg)
		           translate(-10px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-10px) 
		           rotate(-360deg);
	}
}

@keyframes mouving2 {
	from {
		transform: rotate(0deg)
		           translate(-16px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-16px) 
		           rotate(360deg);
	}
}

@keyframes mouving3 {
	from {
		transform: rotate(0deg)
		           translate(-12px)
		           rotate(0deg);
	}
	to {
		transform: rotate(360deg)
		           translate(-12px) 
		           rotate(-360deg);
	}
}

@keyframes mouving4 {
	from {
		transform: rotate(0deg)
		           translate(-11px)
		           rotate(0deg);
	}
	to {
		transform: rotate(-360deg)
		           translate(-11px) 
		           rotate(360deg);
	}
}

/* hover image */ 
img:hover {
    filter: brightness(1.2);
}
  